@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./responsiveness.scss";
@import "./colors";

html{
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: $backgroundPrimaryColor;
  @include tablet{
    font-size: 9px;
  }
  @include mobile{
    font-size: 7px;
  }
}

body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}